@import url("reset.css");

body {
  background-color: black;
  color: white;
  font-family: "Raleway", sans-serif;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #33a8db;
  margin-bottom: 24px;
}

p {
  color: white;
}

section {
  margin: 100px auto;
}

.banner {
  background: linear-gradient(
      rgba(0, 0, 0, 0.6),
      rgba(49, 168, 221, 0.2),
      rgba(0, 0, 0, 0.6)
    ),
    url("../images/banner.png") no-repeat center/cover;
  height: 600px;
  padding-top: 60px;
  border-bottom: 1px solid #33a8db80;
}

.banner .banner-content {
  width: 600px;
  margin: auto;
  text-align: center;
  color: white;
}

.banner h1 {
  font-size: 2.5rem;
  font-weight: 900;
  text-transform: uppercase;
  color: transparent;
  background: -webkit-linear-gradient(#33a8db, #1472b7);
  background-clip: text;
  -webkit-background-clip: text;
}

.banner p {
  font-size: 1.25rem;
  margin: 16px 0 24px;
}

.banner .logo {
  width: 260px;
  height: 260px;
  margin: 0 auto 16px;
  padding: 16px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.2);
}

.banner .logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

.banner .banner-content button {
  padding: 16px 32px;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #31a8dd;
  background: transparent;
  border: 2px solid transparent;
  border-image: linear-gradient(#3ba1cd, #1572b7);
  border-image-slice: 10;
  border-radius: 30px;
}

#course-content {
  width: 800px;
  text-align: center;
}

#course-content .modules-list {
  margin: 24px 0;
}

#course-content .modules-list .module {
  color: white;
  width: 530px;
  margin: 0 auto 24px;
  border: 1px solid #33a8db;
  background-color: #252525;
  padding: 16px;
  border-radius: 100px;
  box-shadow: inset -5px 6px 8px rgba(0, 0, 0, 0.7);
}

#course-content .modules-list .module span {
  color: #33a8db;
}

#transform-world {
  height: 560px;
  padding: 200px;
  background: url("../images/woman-code.png") fixed center/cover;
  border-top: 1px solid #33a8db80;
  border-bottom: 1px solid #33a8db80;
}

#transform-world p {
  font-size: 2.5rem;
  font-weight: 900;
  text-transform: lowercase;
  max-width: 250px;
  text-shadow: 3px 2px #33a8db;
}

#professional-challenges {
  width: 800px;
  text-align: center;
}

#professional-challenges img {
  margin: 32px 0;
}

footer {
  padding: 60px 0;
  text-align: center;
  background-image: linear-gradient(
    rgba(50, 168, 219, 0),
    rgba(50, 168, 219, 0.2)
  );
  border-top: 1px solid #33a8db80;
}

footer .dio-logo {
  width: 300px;
}

footer a {
  font-weight: bold;
  color: #33a8db;
  text-decoration: none;
}
